html, body {
    padding:0;
    margin:0;
}

.celda {
    width:30px;
    height:30px;
    float:left;
    background-color:dodgerblue;
}

.ocupado{
    background-color:red;
}

.libre{
    background-color:lawngreen;
}
